.image-slider {
    width: 100%;
    height: 100%;
}

.items {
    display: flex;
}

.contents {
    position: relative;
}

.item-wrapper, .content-wrapper {
    transition: opacity 1s;
}

.item-wrapper {
    opacity: 0.5;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}

.contents {
    overflow: hidden;
    box-sizing: border-box;
}

.content-wrapper {
    opacity: 0;
    width: 100%;
    position: absolute;
}

.selected, .visible {
    opacity: 1;
    z-index: 1;
}
